################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicKnowledge/FileContentIndex/9b79bc79-958e-4423-9a9a-a3b1e6e9af04.vsidx
*.vsidx
